torch @ https://download.pytorch.org/whl/cu126/torch-2.14.0%2Bcu126-cp312-cp312-win_amd64.whl # PyTorch with CUDA 12.6 support with Windows and Python 3.12
transformers>=4.51.0,<5
datasets>=3.5.0
accelerate>=1.6.0
bitsandbytes>=0.45.0
matplotlib>=3.9.0
hf_xet>=1.6.0

